<div class="login-page d-flex align-items-center bg-gray-100">
    <div class="container mb-9">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card">
            <div class="card-body p-5">
              <header class="text-center mb-5">
                <h1 class="text-xxl text-gray-400 text-uppercase"> Disponibility <strong class="text-primary">To planing</strong></h1>
                <p class="text-gray-500 fw-light"></p>
              </header>
              <form class="registe-form" [formGroup]="dispoForm">
                <div class="row">
                  <div class="col-lg-10 mx-auto">
                    
                    <div class="row">
                    <div class="input-material-group  col-md-5">
                      <div class="row">

                        <div class="row">
                          <label class="col-md" for="speciality">Selectionné La speciality:</label>
                          <select class="col-md" size="3" name="speciality" class="form-select" formControlName="speciality" id="speciality" multiple>
                            <option *ngFor="let speciality of specialities"  value="{{speciality.specialityId}}" (mwlClick)="getMatters(speciality.groupSize,speciality.specialityId)">{{speciality.name}}</option>
                         </select>
                        </div>
                        <div class="divbox">
                          <p>           </p>
                        </div>
                        <div class="row ">
                          <label class="col-md" for="speciality">Selectionné La matière :</label>
                          <select class="form-select col-md" formControlName="matter" id="matter" >
                            <option [ngValue]="null" >Selectionné matière</option>
                            <option  *ngFor="let m of matters"  value="{{m.matterId}}" (mwlClick)="matter(m.matterId,m.name)">{{m.name}}</option>
                        </select>
                        </div>
                      <br>
                      <div class="divbox">
                        <p>           </p>
                      </div>
                        <div class="row">
                          <label class="col-md" for="speciality">Selectionné Le prof :</label>
                          <select  class="form-select col-md" formControlName="teacher" id="teacher" >
                              <option [ngValue]="null" selected>Selectionné enseignant</option>
                              <option  *ngFor="let teacher of teachers"  value="{{teacher.teacherId}}" (mwlClick)="teach(teacher.teacherId)">{{teacher.firstName}} {{teacher.lastName}}</option>
                          </select>
                        </div>
                    
                      </div>
                       <br>
                       <br>
                       
                    <div>
                     
                     <table class="table table-striped" *ngIf="teacherId">
                      <div>
                        <input class="input-material" type="date" formControlName="capacity"   (keyup)="getDisponibility($event.target)" placeholder="date">
                        </div>
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">jour</th>
                          <th scope="col">heure debut</th>
                          <th scope="col">heure fin</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let disp of dispo">
                          <th scope="row">#</th>
                          <td>{{disp.day}}</td>
                          <td>{{disp.timeD}}</td>
                          <td>{{disp.timeF}}</td>

                          <td>
                            <input type="checkbox" (click)="updateDispo(disp.dispoId,disp.timeD,disp.timeF,disp.day)" >
                           
                          </td>
                          
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                      </div>
                      <div class="col-md-2"></div>
                      <div class="input-material-group mb-3 col-md-5">
                        <div>
                        <input class="input-material" type="text" formControlName="capacity"   (keyup)="getCapacity($event.target)">
                        <label class="label-material" for="capacity">Selectionné la salle </label>
                            
                        </div>
                        <br>
                        <div>
                          <table class="table table-striped">
                           <thead>
                             <tr>
                               <th scope="col">salle</th>
                               <th scope="col">capacité</th>
                               <th scope="col">état</th>
                               <th scope="col">Action</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr *ngFor="let room of rooms">
                               <td>{{room.name}}</td>
                               <td>{{room.capacity}}</td>
                               <td *ngIf="room.state">occupé</td>
                               <td *ngIf="!room.state">disponible</td>
                               <td *ngIf="!room.state">
                                <button (click)="getNameRoom(room.name)" class="btn btn-secondary">Selectionné</button>
                              </td>
                             </tr>
                             
                           </tbody>
                         </table>
                       </div>
                      </div>
                      </div>


                      
                      <br>
                      <br><!--
                  <h3 style="text-align: center;">Programmer </h3>
                  <br>
                  <br>
                  <div class="row">
                  <div class="input-material-group mb-1 col-md-6">
                    <input class="input-material" type="date" formControlName="day" required data-validate-field="date">
                    <label class="label-material" for="date">jour </label>
                  </div>

                  <div class="input-material-group mb-1 col-md-6">
                    <input class="input-material" type="text" formControlName="room" required data-validate-field="room">
                    <label class="label-material" for="date">salle </label>
                  </div>
                </div>
                  <br>
                    <br>
                    -->


                    <!--
                  <div class="row" style="text-align: center;">
                    
                  <h4 >Heure Debut </h4>
                 
                    <div class="input-material-group mb-1 col-md-6">
                      <input class="input-material" type="text" formControlName="heureD" required data-validate-field="heure">
                      <label class="label-material" for="heure">heure</label>
                    </div>
                    <div class="input-material-group mb-1 col-md-6">
                        <input class="input-material" type="text" formControlName="minuteD" required data-validate-field="heure">
                        <label class="label-material" for="heure">minute</label>
                      </div>
                    </div>
                    <br>
                    <div class="row" style="text-align: center;">
                      
                      <h4>Heure fin </h4>
                      <div class="input-material-group mb-1 col-md-6">
                        <input class="input-material" type="text" formControlName="heureF" required data-validate-field="heure">
                        <label class="label-material" for="heure">heure</label>
                      </div>
                      <div class="input-material-group mb-1 col-md-6">
                          <input class="input-material" type="text" formControlName="minuteF" required data-validate-field="heure">
                          <label class="label-material" for="heure">minute</label>
                        </div>
                      </div>
                      
                      <br>
                      -->
                  </div>
                  <div class="col-6 text-center">

                    
                    <button class="btn btn-primary mb-3" (click)="addEvent()">Ajouter</button>
                   <!-- <button class="btn btn-primary mb-3"  (click)="onSubmit()">Register</button><br><span class="text-xs text-gray-500">Already have an account?  </span><a class="text-xs text-paleBlue ms-1" href="login.html">Login</a>-->
                  </div>
                  
                  <div class="col-6 text-center">

                    <button  class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Auto Planing</button>
                   <!-- <button class="btn btn-primary mb-3"  (click)="onSubmit()">Register</button><br><span class="text-xs text-gray-500">Already have an account?  </span><a class="text-xs text-paleBlue ms-1" href="login.html">Login</a>-->
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


                 
    
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body ">
                          <div class="">
                            <div class="row">
                              <label class="label-material " for="capacity">periode Debut </label>
                            <input class="input-material " type="date"   [(ngModel)]="periodeD"  >
                            </div>
                            <div class="row">
                              <label class="label-material " for="capacity">periode Fin </label>
                              <input class="input-material " type="date"   [(ngModel)]="periodeF"  >
                            </div>
                            <div class="row">
                              <label class="label-material" for="capacity">salle à ne pas choisir </label>
                                <select class="form-select " [(ngModel)]="roomExclus" id="speciality" multiple>
                                  <option *ngFor="let speciality of rooms"  value="{{speciality.roomId}}">{{speciality.name}}</option>
                               </select>
                            </div>
                            <div class="row">
                              <label class="label-material" for="capacity">matière à ne pas choisir </label>
                              <select class="form-select " [(ngModel)]="matterExclus" id="speciality" multiple>
                                <option *ngFor="let speciality of matters"  value="{{speciality.matterId}}" >{{speciality.name}}</option>
                             </select>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" (click)="generate()">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
   

  
  <!-- JavaScript files-->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/just-validate/js/just-validate.min.js"></script>
  <script src="vendor/choices.js/public/assets/scripts/choices.min.js"></script>
  <script src="vendor/overlayscrollbars/js/OverlayScrollbars.min.js"></script>
  <!-- Main File-->
  <script src="js/front.js"></script>
  <script>
    // ------------------------------------------------------- //
    //   Inject SVG Sprite - 
    //   see more here 
    //   https://css-tricks.com/ajaxing-svg-sprite/
    // ------------------------------------------------------ //
    function injectSvgSprite(path) {
    
        var ajax = new XMLHttpRequest();
        ajax.open("GET", path, true);
        ajax.send();
        ajax.onload = function(e) {
        var div = document.createElement("div");
        div.className = 'd-none';
        div.innerHTML = ajax.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
        }
    }
    // this is set to BootstrapTemple website as you cannot 
    // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
    // while using file:// protocol
    // pls don't forget to change to your domain :)
    injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
    
   
    
  </script>
  <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
